@layer components {
  /*=========== ABOUT PAGE ========= */

  .about-page__title-wrapper {
    @apply lg:mb-[44px] lg:flex lg:items-center lg:justify-between mb-10 
    pt-8 xl:mb-[57px] xl:justify-start xl:pt-[50px];
  }
  .about-page__title {
    @apply lg:mb-0  mb-7;
  }
  .about-page__videoshow svg {
    @apply h-[112px] w-[273px] xl:ml-[210px] xl:h-[245px] xl:w-[593px];
  }

  /* ========== ABOUT CONTENT ============ */
  .about-page__wrapper {
    @apply lg:pb-[80px] pb-[46px] xl:pb-[105px];
  }

  .about-page__title {
    @apply mb-7  xl:mb-0;
  }

  .about-page__content {
    @apply border-t border-middleGrey  xl:flex;
  }
  .about-page__content-title {
    @apply lg:pt-8 mb-7 border-middleGrey pt-5 font-bold uppercase xl:mb-0 xl:min-w-[405px] xl:border-r xl:pt-[50px] xl:pr-[60px] xl:text-2xl;
  }
  .about-page__content-wrapper {
    @apply xl:pl-[153px] xl:pb-[50px] xl:pt-[50px];
  }
  .about-page__content-text {
    @apply lg:mb-[48px] mb-[62px] xl:mb-[108px] xl:text-[32px] xl:leading-[1.5];
  }
  /* ------------ RESULTS GRID ----------- */
  .about-page__results-grid {
    @apply lg:grid-cols-3 lg:gap-[68px_48px] grid grid-cols-2 gap-[55px_18px] 
    xl:grid-cols-3 xl:gap-[53px_110px];
  }
  .about-page__grid-item:nth-child(3) {
    @apply lg:col-start-2 lg:row-start-2;
  }
  .about-page__grid-item:nth-child(4) {
    @apply lg:col-start-3 lg:row-start-2;
  }
  .about-page__grid-card {
    @apply border-t border-middleGrey  pt-[30px]  xl:pt-[33px];
  }
  .about-page__grid-label {
    @apply mb-4 text-sm xl:mb-6 xl:text-base;
  }
  .about-page__grid-number {
    @apply text-4xl font-bold xl:text-[90px] xl:leading-[1.1];
  }

  /* ========== ABOUT TEAM ========== */

  .about-team__wrapper {
    @apply lg:pt-[80px] lg:pb-[60px] pt-[46px] pb-[120px] xl:pt-[105px] xl:pb-[213px];
  }
  .about-team__content {
    @apply xl:flex xl:border-t xl:border-middleGrey;
  }

  .about-team__title {
    @apply mb-[30px] border-b-[1px] border-middleGrey xl:mb-[55px]  xl:border-b-0;
  }
  .about-team__content-wrapper {
    @apply lg:pb-[50px] pb-[68px]  xl:border-middleGrey xl:pb-0 
     xl:pr-[60px] xl:pt-[50px];
  }
  .about-team__content-text {
    @apply lg:max-w-[500px]  mb-[40px] pt-[30px]
     xl:mb-[55px] xl:border-t-0 xl:pt-0;
  }
  .main-btn.about-team__main-btn {
    @apply lg:ml-0;
  }
  .about-team__grid-wrapper {
    @apply xl:border-l xl:border-middleGrey xl:pl-[153px];
  }
  .about-team__results-grid {
    @apply lg:mb-[50px] lg:grid-cols-[1fr_270px_1fr] mb-[70px] grid grid-cols-2 xl:mb-[74px]
     xl:grid-cols-[1fr_392px_1fr];
  }

  .about-team__grid-item {
    @apply lg:pt-6 border-t border-middleGrey pt-5 xl:border-t-0
     xl:pt-[62px];
  }
  .about-team__grid-item:nth-child(n + 2) {
    @apply pb-5 xl:pb-[62px];
  }

  .about-team__grid-item:nth-child(n + 3) {
    @apply lg:pt-6  xl:pt-[62px];
  }
  .about-team__grid-item:nth-child(n + 4) {
    @apply xl:border-t;
  }
  .about-team__grid-item:nth-child(odd) > div {
    @apply lg:border-r-0 lg:pr-0 border-r  border-middleGrey pr-[9px];
  }
  .about-team__grid-item:nth-child(even) > div {
    @apply lg:pl-0 pl-[9px];
  }

  .about-team__grid-item:nth-child(3n-4) > div {
    @apply lg:border-x-[1px] lg:px-6 border-middleGrey xl:px-[55px];
  }
  .about-team__grid-item:nth-child(3n-2) > div {
    @apply lg:pr-6  xl:pr-[55px];
  }
  .about-team__grid-item:nth-child(3n-3) > div {
    @apply lg:pl-6  xl:pl-[55px];
  }

  .about-team__grid-img img {
    @apply lg:h-[308px] lg:w-[222px] h-[210px] w-[151px]  xl:h-[389px] xl:w-[280px];
  }
  .about-team__grid-name {
    @apply mb-2 mt-5 font-bold uppercase xl:mt-4 xl:text-2xl;
  }
  .about-team__grid-position {
    @apply text-sm uppercase text-middleGrey xl:text-base;
  }
  .about-team__plus-text {
    @apply text-xl uppercase xl:text-[32px] xl:leading-[1.5];
  }
}
