@layer components {
  /* =========== blog ============ */
  .blog-page__post-wrapper {
    @apply xl:grid xl:h-full xl:grid-rows-[auto_auto_1fr];
  }

  .blog-page__main-post-info-name {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    @apply mb-5 text-[46px] font-bold uppercase leading-[50px] lg:mr-20 lg:mb-0 xl:mr-0 xl:text-[64px] xl:leading-[70px];
  }

  .blog__pagination-active {
    @apply bg-dark text-white dark:bg-light dark:text-dark;
  }

  .swiperNews .swiper-scrollbar {
    @apply !top-0 !h-[5px] bg-scrollBar;
  }
  .swiperNews .swiper-scrollbar-drag {
    @apply !bg-main;
    /* @apply animate-[gradient_5s_linear_infinite]  !bg-gradient-to-r from-main to-main bg-[length:0%_100%] bg-no-repeat transition-all; */
  }

  @keyframes gradient {
    0% {
      background-size: 0% 100%;
    }
    50% {
      background-size: 50% 100%;
    }
    100% {
      background-size: 100% 100%;
    }
  }
}
