@layer components {
  /* =========== blog ============ */
  .blog-page__post-wrapper {
    @apply xl:grid xl:h-full xl:grid-rows-[auto_auto_1fr];
  }

  .blog-page__main-post-info-name {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    @apply mb-5 text-[46px] font-bold uppercase leading-[50px] lg:mr-20 lg:mb-0 xl:mr-0 xl:text-[64px] xl:leading-[70px];
  }
}
