@layer components {
  /*=============== BLOG ============= */

  .blog-wrapper {
    @apply pt-12 pb-5 md:pt-5 md:pb-[90px] xl:pb-[138px];
  }
  .blog__heading-wrapper {
    @apply mb-[30px] flex justify-between xl:mb-[58px];
  }
  .blog__title {
    @apply md:max-w-[550px];
  }
  .blog__all-btn {
    @apply mb-[10px] flex  items-center md:mb-0;
  }
  .blog__all-btn-text {
    @apply mr-3 hidden font-bold md:block xl:text-2xl;
  }

  .blog__card-list {
    @apply grid grid-cols-3fr gap-5 overflow-auto pb-[30px]
      xl:gap-[30px];
  }
  .blog__card {
    @apply flex flex-col xl:mb-0;
  }
  .blog__card-image {
    @apply mb-6 block min-h-[165px] w-full min-w-[270px]
    md:min-h-[220px] md:min-w-[305px]  xl:min-h-[350px] xl:min-w-[530px];
  }
  .blog__card-info-wrapper {
    @apply mb-4 flex items-center rounded-[20px];
  }
  .blog__card-info-branch {
    @apply flex items-center justify-center rounded-[60px] bg-darkGrey
     py-2 px-4  text-xs uppercase  leading-[14px] md:text-sm md:leading-[1.2]
      xl:py-[10px]  xl:px-5 xl:text-sm;
  }
  .blog__card-info-time {
    @apply ml-3 text-[12px] leading-[14px] text-middleGrey xl:text-sm  xl:leading-4;
  }
  .blog__card-title {
    @apply overflow-hidden text-ellipsis text-[18px] font-bold leading-[22px] xl:text-2xl xl:leading-[28px];
  }
}
