@layer components {
  /*================================================ 
BEGIN: 05-sections-our-cases    achievements
=================================================*/

  .achievements__title {
    @apply mb-[29px] text-4xl font-bold uppercase text-black
   lg:mb-[29px] lg:text-[45px] lg:leading-[50px] 
    xl:mb-[25px] xl:border-b-0 xl:text-[50px] 
    2xl:mb-[71px] 2xl:border-b-0 2xl:text-[90px];
  }

  .achievements__subtitle {
    @apply pt-[30px] pb-[20px] text-base
         font-medium leading-[22px] text-dark dark:text-white
      lg:pt-[31px]   lg:pb-[38px]
        xl:hidden;
  }

  /* ============
  cards wrapper 
  ============= */

  /* gap-[29px] lg:gap-9*/
  /* .cards {
    @apply flex flex-col  py-[30px] 
    lg:py-[25px]  lg:flex 
    xl:py-0 xl:gap-0;
  } */

  .cards-text__left {
    @apply lg:pr-[33px];
  }

  .cards-text__right {
    @apply lg:pl-[33px];
  }

  /* ========== 
img-desc-
========== */

  /* gap-[16px] */
  .img-desc {
    @apply absolute top-0 flex flex-col
    py-[18px] px-[20px] 
    lg:py-[25px] lg:px-[33px] 
    xl:py-[36px] xl:px-[26px];
  }

  .img-desc__wrap {
    @apply mb-[16px]
    xl:mb-[31px]
    2xl:mb-[60px];
  }

  .wrap-text {
    @apply flex items-center gap-[15px];
  }

  .img-desc_big {
    @apply text-4xl font-bold text-white
    2xl:text-[64px];
  }

  .wrap-text__inner {
    @apply flex flex-col;
  }

  .wrap-text__gap {
    @apply mb-[7px] flex items-center gap-[7px]
    lg:mb-[2px] lg:gap-[8px]
    xl:mb-[20px];
  }

  .img-desc_small {
    @apply text-xs font-medium leading-[13px]  text-white
    lg:text-base lg:leading-[18px]
    2xl:text-xl 2xl:leading-[22px];
  }

  /* ========
btn-card 
========= */

  /* lg:gap-[32px] 20.02.2023 */
  .cards__link {
    @apply flex  text-xl  font-bold leading-6 text-black
     
    lg:flex lg:justify-between 
    xl:gap-0 xl:text-[32px];
  }

  /* leading-[24px] */
  /*  lg:max-w-[262px] */
  /*  xl:max-w-[452px] */
  .cards__title {
    @apply mb-[25px] text-xl font-bold
     leading-[120%] text-dark dark:text-mainTextWhite
     lg:mb-[66px] 
    
     2xl:mb-[30px] 2xl:text-[32px]  2xl:leading-[120%];
  }

  .cards__btn {
    @apply flex h-max;
  }

  /* ============ 
cards__wrap 
============= */

  /*  xl:border-r xl:border-lightDarkGrey xl:p-[50px] */

  /* .cards__wrap {
    @apply flex flex-col 2xl:gap-[144px];
  } */

  /* .cards__desc-wrap{
    @apply 

  } */

  /* lg:mb-[95px] */
  .cards__text {
    @apply mb-[40px] text-sm
    font-medium
    text-dark dark:text-mainTextWhite
    lg:text-base lg:leading-[140%];
  }

  .cards__desc {
    @apply text-xs font-medium uppercase leading-[140%]
     text-dark dark:text-mainTextWhite
     lg:text-[14px] 
     xl:text-base;
  }
}
