@layer components {
  .cases {
    @apply bg-light dark:bg-dark;
  }
  .cases__wrapper {
    @apply pt-20 md:pt-12 xl:pt-[105px];
  }
  .cases__intro-wrapper {
    @apply mb-[70px] md:mb-[98px] md:flex xl:mb-[122px];
  }
  .cases__intro-title {
    @apply mb-[30px] pt-7 text-xl font-bold uppercase leading-[22px] dark:text-white
     md:mb-0 md:w-1/3 md:border-t md:border-r md:border-middleGrey md:pr-7 md:text-base 
      xl:min-w-[410px] xl:pt-[50px] xl:pr-[42px] xl:text-2xl;
  }
  .cases__intro-text {
    @apply mb-[30px] border-t border-t-middleGrey pt-7 text-xl leading-[26px] dark:text-white
    md:mb-0 md:pl-14 md:text-base xl:pl-[153px] xl:pt-[50px] xl:text-2xl;
  }
  .cases__heading {
    @apply mb-8 xl:mb-[50px];
  }
  .cases__card-list {
    @apply border-middleGrey;
  }
  .cases__description {
    @apply mb-[22px] border-t border-middleGrey pb-[22px] 
    pt-[30px] dark:text-white xl:pr-[50px] xl:pt-[50px];
  }
  .cases__card {
    @apply border-t border-t-middleGrey pt-[30px]
     md:flex  xl:pl-[50px] xl:pt-0;
  }
  .cases__card:not(:last-child) {
    @apply pb-[30px] xl:pb-0;
  }
  .cases__card:nth-child(odd) {
    @apply flex-row-reverse;
  }
  .cases__card:nth-child(even) .cases__card-content {
    @apply md:pl-[34px];
  }
  .cases__card:nth-child(odd) .cases__card-content {
    @apply md:pr-[34px] xl:border-r xl:border-middleGrey;
  }
  .cases__card-image-wrap {
    @apply mb-[30px] w-full md:mb-0 md:basis-1/2 xl:py-[50px];
  }
  .cases__card-image {
    @apply block w-full object-cover;
  }
  .cases__card:nth-child(even) .cases__card-image {
    @apply xl:border-r xl:border-middleGrey xl:pr-[50px];
  }
  .cases__card:nth-child(odd) .cases__card-image {
    @apply xl:pl-[50px];
  }
  .cases__card-content {
    @apply md:flex md:basis-1/2 md:flex-col md:justify-between  xl:py-[50px];
  }
  .cases__card-heading-wrapper {
    @apply flex justify-between gap-5;
  }
  .cases__card-title {
    @apply mb-[25px] text-2xl font-bold leading-[26.4px] dark:text-white md:mb-0 md:text-xl md:leading-6 xl:max-w-[450px] xl:text-[32px] xl:leading-[38px];
  }
  .cases__card-text {
    @apply text-sm dark:text-white  md:text-base xl:h-[300px] xl:max-h-[300px] xl:max-w-[385px];
  }
  .cases__card-copyright {
    @apply text-[12px] uppercase leading-4 dark:text-white md:text-sm md:leading-5;
  }
  .main-btn.cases__main-btn {
    @apply mt-[50px] xl:mt-0 xl:mr-[50px];
  }

  /*=========== CASES PAGE ========= */

  .cases__breadcrumbs {
    @apply mb-[30px];
  }
  .cases-page__title-wrapper {
    @apply mb-10 md:mb-[50px] md:flex md:items-center md:justify-between;
  }
  .cases-page__title {
    @apply mb-8 text-4xl font-bold uppercase md:mb-0 md:text-[60px]
     md:leading-[66px] xl:text-[120px] xl:leading-[132px];
  }
  .cases-page__videoshow {
    @apply flex;
  }

  .cases-page__videoshow-circle-wrapper {
    @apply relative flex rotate-180;
  }
  .cases-page__videoshow-circle {
    @apply ml-[-65px] h-[86px] w-[86px] overflow-hidden rounded-full
     border-[1px] border-lightGrey  bg-light xl:ml-[-135px] xl:h-[179px] xl:w-[179px];
  }
  .cases-page__videoshow-circle-btn {
    @apply relative ml-[-65px] flex h-[86px] w-[86px] rotate-180 items-center justify-center
    overflow-hidden rounded-full border-[1px] border-lightGrey bg-light
     bg-showreel bg-cover bg-center bg-no-repeat xl:ml-[-135px] xl:h-[179px]  xl:w-[179px];
  }
  .cases-page__videoshow-circle-btn svg {
    @apply h-[18px] w-[18px] text-white xl:h-[36px] xl:w-[36px];
  }
  .cases-page__videoshow-circle-btn::before {
    @apply absolute top-1/2 left-1/2 h-[60px] w-[60px] translate-x-[-50%]
     translate-y-[-50%] rounded-full border-[1px] border-white bg-transparent
      content-[''] hover:border-main xl:h-[125px] xl:w-[125px];
  }

  .cases-page__videoshow-circle-btn:hover svg {
    @apply text-main;
  }
  .cases-page__videoshow-circle-btn:hover::before {
    @apply border-main;
  }
  .cases-page__videoshow-circle-btn::after {
    @apply absolute top-1/2 left-1/2 h-[12px] w-[12px]
     translate-x-[-50%] translate-y-[-50%];
  }
  .cases-page__videoshow-text-btn {
    @apply ml-[80px] max-w-[100px] text-left font-bold uppercase xl:ml-[160px];
  }

  .cases-page__grid {
    @apply xl:flex xl:pb-[54px];
  }

  .cases-page__description-wrapper {
    @apply flex justify-between border-b-[1px] border-middleGrey
     pb-[30px] pt-5 md:pt-10 xl:min-w-[410px] xl:flex-col xl:justify-start 
     xl:gap-[100px] xl:border-b-0 xl:border-r xl:pr-[45px]
      xl:pt-[73px] xl:pb-0;
  }
  .cases-page__description {
    @apply pr-3 text-sm md:max-w-[370px] xl:mb-[85px] xl:pr-0 xl:text-base;
  }

  .cases-page__filter-list {
    @apply flex flex-wrap gap-3 border-b-[1px] border-t
     border-middleGrey py-[30px] xl:gap-[10px] xl:py-[35px];
  }
  .cases__card-list {
    @apply pb-[105px] xl:pb-[112px];
  }
  .cases-page__card-list {
    @apply pb-[105px] xl:pb-[112px] xl:pl-[153px];
  }
  .cases-page__card {
    @apply pt-[50px] md:pt-[70px];
  }
  .cases-page__card-heading-wrapper {
    @apply mb-6 grid  grid-cols-2 md:mb-[30px]  md:grid-cols-[110px_1fr_110px] xl:mb-10 xl:grid-cols-[140px_1fr_140px];
  }
  /* pages heading2 */
  .cases-page__card-heading {
    @apply col-start-1 col-end-4 row-start-2 pt-5 text-2xl font-bold
     md:col-start-auto md:col-end-auto md:row-start-auto md:pt-0 md:text-[28px] 
     xl:text-[42px] xl:leading-[46px];
  }
  .cases-page__card-arrow {
    @apply ml-auto;
  }

  /* card content */
  .cases-page__card-content {
    @apply grid md:grid-cols-[390px_1fr] md:grid-rows-[1fr_22px] md:border-t 
    md:border-middleGrey md:pt-[30px] xl:grid-cols-[548px_1fr] xl:pt-10;
  }
  .cases-page__card-copyright {
    @apply mb-[18px] text-sm uppercase md:row-start-2 
    md:pl-[45px] md:text-base;
  }
  .cases-page__card-image {
    @apply mb-[30px]  w-[320px] border-t border-middleGrey
     pt-[30px] md:col-start-1 md:row-start-1 md:row-end-3 md:mb-0
      md:h-[293px] md:w-[390px] md:border-t-0 md:pt-0 xl:h-[500px] xl:w-[548px];
  }
  .cases-page__card-text {
    @apply text-sm md:pl-[45px] md:text-base;
  }
}
