@layer components {
  /*=============== FAQ ============= */

  /*================================================
 BEGIN: 10-section-support FAQ 
 =============================================== */

  .title + .content {
    @apply hidden;
  }

  .title + .content.c_active {
    @apply block;
  }

  /* =======================
spoller-decor-02
======================= */

  /* min-w-[24px] min-h-[24px] */
  .spoller-decor {
    @apply relative block h-[24px]
  w-[24px] transition-all ease-in;
  }

  /* .c_active */
  /* | */
  .spoller-decor::before {
    @apply absolute  left-[50%] top-0
  h-full w-[3px] content-[''] dark:bg-white;
  }

  /* translate-x-[-50%] */
  /* -- */
  .spoller-decor::after {
    @apply absolute left-0 top-[50%]
  h-[3px] w-full content-[''] dark:bg-white;
  }

  .t_active .spoller-decor {
    @apply rotate-90;
  }

  .t_active .spoller-decor::before {
    @apply absolute left-[50%] top-0
  h-full w-[3px] translate-x-[-50%] content-[''] dark:bg-white;
  }

  /* -- */
  .t_active .spoller-decor::after {
    @apply absolute left-0 top-[50%]
  h-[3px] w-full translate-y-[-50%] opacity-0 content-[''] 
  dark:bg-white;
  }

  /* ==============
=============== */

  .title-accordion {
    @apply cursor-pointer gap-7 pt-[21px] pb-[18px] text-base font-semibold leading-[130%] 
  text-dark ease-in  dark:text-white
   dark:active:text-main
    lg:pt-[31px] lg:pb-[32px] lg:text-2xl 
   xl:pt-[35px] xl:pb-[32px]  xl:text-2xl
   2xl:pb-[43px];
  }
  /* is-open */
  /* xl:max-w-[940px] */
  /* transition-all duration-300 ease-in */
  .text-accordion {
    @apply pb-[19px] text-sm font-medium leading-5
   text-dark  transition-all duration-300 ease-in
    dark:text-white
    lg:pb-[31px] lg:text-base lg:leading-[140%]
    xl:pb-[30px]  xl:pr-[140px] xl:text-base
    2xl:pb-10;
  }

  /* ================ 
 END: accordion 
 ================= */
}
