@layer components {
  /*=============== FOOTER ============= */

  /*================================================
 BEGIN: footer
 =============================================== */

  /* shrink-0 h-[100vh]  */
  /* bottom-0 */
  .footer {
    @apply sticky bottom-[-320px] -z-10 shrink-0
  lg:bottom-0;
  }

  /*================================================
END: footer 
================================================ */
}
