@layer components {
  /*=============== FORM ============= */

  /* ===============
Form menu header
================= */

  .form-floating {
    @apply relative;
  }

  /*.form-floating > label {
    border: 1px solid transparent;
    transform-origin: 0 0;
  }*/

  /*  p-[16px] 01.03.2023*/
  .form-floating > label {
    @apply pointer-events-none absolute
    top-0 left-0 h-full origin-top 
   pl-[30px]  pt-[19px] transition ease-in;
  }

  /*.form-floating > label {
    @apply pl-[24px] pt-[19px];
  }*/

  /*.form-floating > .form-control {
    @apply pl-[24px];
  }*/

  .form-floating > .form-control::placeholder {
    @apply text-transparent;
  }

  /*translateX(0.15rem)*/
  .form-floating > .form-control:focus ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(-0.4rem);
  }

  /*=============*/
  .form-floating > .form-control:not(:placeholder-shown) ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }

  .form-floating > label {
    padding-left: 24px;
    padding-top: 19px;
  }

  .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }
  /*=============*/

  /*.form-floating > .form-control:focus ~ label {
    @apply origin-top   opacity-60;
  }*/

  /*.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(-0.4rem);
  }*/

  /*.form-floating > .form-control:not(:placeholder-shown) ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(-0.4rem);
  }*/

  /*.form-floating > .form-select ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(-0.4rem);
  }*/

  /*.form-floating > .form-select ~ label {
    @apply origin-top   opacity-60;
  }*/

  /*.form-floating {
    position: relative;
  }*/

  /*.form-floating > .form-control {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
    padding: 1rem 0.75rem;
  }*/

  /*.form-floating > .form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
  }*/

  /* .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }*/

  /*.form-floating > .form-control::-moz-placeholder {
    color: transparent;
  }*/

  /*.form-floating > .form-control:focus {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }*/

  /*.form-floating > .form-control:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }*/

  /*.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }*/

  /*.form-floating > .form-control:-webkit-autofill {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }*/

  /*==============================
    form-end 
    ==============================*/

  /*================================================
 BEGIN: form
 =============================================== */

  .red-gradient-form {
    @apply /* */  
  /*2xl:before:top-[118px] 
  2xl:before:blur-[80px];*/ /*2xl:before:h-[435px] 
  2xl:before:blur-[80px];*/
  /*2xl:before:w-[435px]
  2xl:before:translate-x-[24%];*/ relative
  overflow-hidden
  to-transparent before:absolute before:top-[46px]

  before:right-0
  before:h-[130px]
  before:w-[130px] before:translate-x-[24%]
  before:bg-gradient-radial
     
  before:from-gradientMain
  before:blur-[45px]
  before:content-[''] lg:before:top-[25px]
  lg:before:h-[200px]

  lg:before:w-[200px] lg:before:translate-x-[24%]
  lg:before:blur-[80px]
  xl:before:top-[256px] xl:before:h-[300px]
  xl:before:w-[300px] xl:before:translate-x-[14%]

  xl:before:blur-[80px]
  2xl:before:top-[180px]
  2xl:before:h-[350px] 2xl:before:w-[350px]
  2xl:before:translate-x-[24%];
  }

  /*================================================
 BEGIN: form
 =============================================== */
}
