@layer components {
  /*=============== FORM ============= */

  /*================================================
 BEGIN: form
 =============================================== */

  .red-gradient-form {
    @apply /* */  
  /*2xl:before:top-[118px] 
  2xl:before:blur-[80px];*/ /*2xl:before:h-[435px] 
  2xl:before:blur-[80px];*/
  /*2xl:before:w-[435px]
  2xl:before:translate-x-[24%];*/ relative
  overflow-hidden
  to-transparent before:absolute before:top-[46px]

  before:right-0
  before:h-[130px]
  before:w-[130px] before:translate-x-[24%]
  before:bg-gradient-radial
     
  before:from-gradientMain
  before:blur-[45px]
  before:content-[''] lg:before:top-[25px]
  lg:before:h-[200px]

  lg:before:w-[200px] lg:before:translate-x-[24%]
  lg:before:blur-[80px]
  xl:before:top-[256px] xl:before:h-[300px]
  xl:before:w-[300px] xl:before:translate-x-[14%]

  xl:before:blur-[80px]
  2xl:before:top-[180px]
  2xl:before:h-[350px] 2xl:before:w-[350px]
  2xl:before:translate-x-[24%];
  }

  /*================================================
 BEGIN: form
 =============================================== */
}
