@layer components {
  /*================================================ 
BEGIN: html  scroll
=================================================*/
  /* html{
  @apply  overflow-y-hidden ;
} */

  /*html {
    scroll-behavior: smooth;
}
*/

  html {
    @apply scroll-smooth;
  }

  .header__contact-body::-webkit-scrollbar,
  .blog-scroll::-webkit-scrollbar,
  html::-webkit-scrollbar {
    @apply w-[10px]  bg-dark;
  }

  .form__header::-webkit-scrollbar-thumb,
  .blog-scroll::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb {
    @apply h-[80px]  rounded-[20px]  bg-main;
  }

  /*html {
    display: block;
}
*/

  /*.header__contact-body::-webkit-scrollbar,
 html::-webkit-scrollbar{
  background: #171717;
    width: 10px;    
}
*/

  /*.form__header::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
    background: #ff304d;
    border-radius: 20px;
    height: 80px;
}
*/

  /* form */

  ._body-contact-active {
    right: 0 !important;
  }

  .header__contact-body {
    @apply absolute  top-0 z-20 h-[calc(100vh+82px)]
     w-full overflow-y-scroll bg-dark transition ease-in;
  }

  .header__contact-body::-webkit-scrollbar-thumb {
    @apply h-[5px]  rounded-[20px] bg-main;
  }

  ._body-contact-active {
    @apply right-0  !important;
  }

  /*.header__contact-body {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: absolute;
    right: -100%;
    z-index: 20;
    width: 100%;
    top: 0;
  /* padding: 24px 20px 140px 20px;*/

  /*   height: calc(100vh + 82px);
    background: #171717;
    overflow-y: scroll;
}
*/

  /*.header__contact-body::-webkit-scrollbar-thumb {
    background: #ff304d;
    border-radius: 20px;
    height: 5px;
}
*/

  /*================================================ 
BEGIN: wrapper 
=================================================*/

  /* max-w-[1000px] */
  /* h-screen   igor remove*/
  .wrapper {
    @apply relative m-auto flex  max-w-full flex-col
  
  pt-[var(--header-h)] lg:pt-[var(--header-h-lg)] xl:pt-[var(--header-h-xl)];
  }

  /*.overflow {
    @apply overflow-y-hidden;
  }*/

  /*================================================ 
BEGIN: 01-section-header 
=================================================*/

  /* =====================
 BEGIN: menu.js scroll 
 ===================== */

  header {
    @apply fixed top-0 right-0 left-0 z-30;
  }

  .isFixed {
    @apply top-[-78px] right-0 left-0 
  transition-all  duration-300 ease-in 
  lg:top-[-87px] 
  xl:top-[-91px];
  }

  .isVisible {
    @apply fixed top-0 transition-all duration-300 
  ease-in;
  }

  /* =================== 
END: menu.js scroll 
==================== */

  .header--active .btn-language {
    @apply absolute left-5 top-[128px] flex;
  }

  .nav {
    @apply flex items-center justify-between py-3.5;
  }

  .link__list {
    @apply absolute top-[184px] left-full mx-5 flex w-[92%] scale-0 flex-col gap-[30px] border-t border-lightDarkGrey px-2 pt-[30px] font-montserrat text-base uppercase text-lightGrey transition-all;
  }

  .link__list-btn {
    @apply flex max-w-min gap-[10px] font-montserrat text-xs font-medium uppercase text-main before:font-mono before:text-[16px] before:content-['<'];
  }

  .nav__btn {
    @apply flex items-center gap-[33px];
  }

  /* ========================================
BEGIN: Backdrop menu header
=========================================*/

  /* ========================================
END: Backdrop menu header
=========================================*/

  .btn__contact {
    @apply flex items-center justify-end gap-[16px] transition-all;
  }

  /* =============== 
BEGIN: burger 
=============== */

  .burger {
    @apply relative flex  bg-transparent transition-all;
  }

  .burger:hover .burger__inner {
    @apply bg-lightDarkGrey;
  }

  .burger:hover .burger__inner {
    @apply before:bg-lightDarkGrey;
  }

  .burger:hover .burger__inner {
    @apply after:bg-lightDarkGrey;
  }

  .burger__box {
    @apply relative h-[28px] w-[31px];
  }

  .burger__inner {
    @apply absolute top-0 left-0 h-[3px] w-[31px] bg-white transition-all;
  }

  .burger__inner {
    @apply before:absolute before:top-3 before:block before:h-[3px] before:w-[31px] before:bg-white before:transition-all before:content-[''];
  }

  .burger__inner {
    @apply after:absolute after:top-[25px] after:block after:h-[3px] after:w-[31px] after:bg-white after:transition-all after:content-[''];
  }

  .is-active {
    @apply transition-all;
  }

  .is-active.nav {
    @apply top-0 transition-all;
  }

  .is-active .burger__inner {
    @apply !bg-transparent;
  }

  .is-active .burger__inner {
    @apply before:top-0 before:translate-y-[13px] before:rotate-45 before:bg-lightGrey before:transition-all;
  }

  .is-active .burger__inner {
    @apply after:top-0 after:translate-y-[13px] after:rotate-[-45deg] after:bg-lightGrey after:transition-all;
  }

  /* ==================
Menu header gradient
==================== */

  .red-gradient-menu {
    @apply /* xl:before:blur-[90px]; 
  */
  relative overflow-hidden
  to-transparent before:absolute
  before:top-[135px] before:right-0
  before:h-[190px]
  before:w-[190px] before:translate-x-[28%] before:bg-gradient-radial

  before:from-main
  before:blur-[60px] before:content-['']
  lg:before:top-[240px]
  lg:before:h-[220px]
     
  lg:before:w-[220px] lg:before:translate-x-[50%]  lg:before:blur-[75px] xl:before:top-[0px]
  xl:before:h-[591px] xl:before:w-[591px];
  }

  /* .red-gradient {
    @apply relative overflow-hidden  from-main to-transparent
    before:absolute before:right-0 
    before:translate-x-[50%] before:bg-gradient-radial 
     before:content-[''];
  }

  .red-gradient-top {
    @apply before:top-0 before:h-[212px] before:w-[212px]
       before:blur-[45px] md:before:h-[322px] md:before:w-[322px]
     md:before:blur-[60px] xl:before:h-[591px] xl:before:w-[591px] xl:before:blur-[90px];
  }



  .red-gradient-bottom {
    @apply before:top-20 before:h-[187px] before:w-[187px] before:blur-[45px] md:before:top-[100px]
     md:before:h-[295px] md:before:w-[295px] md:before:blur-[80px] 
     xl:before:top-[150px] xl:before:h-[435px] xl:before:w-[435px] xl:before:blur-[90px];
  } */

  /* h-screen */
  /*  h-[calc(100vh+78px)] */
  /*  .header-scroll-form{
    @apply transition-all ease-in z-20 
    h-[calc(100vh)]
    overflow-y-scroll;
  }
  */

  .header__contact-body {
    @apply z-20 h-[calc(100vh)] overflow-y-scroll 
    transition-all
    ease-in;
  }

  .header__contact-body::-webkit-scrollbar-thumb {
    @apply h-[5px] rounded-full bg-main;
  }

  .header-scroll-menu {
    @apply z-20 h-[calc(100vh)] overflow-y-scroll 
    transition-all
    ease-in;
  }

  /* =============================
translate-underline-header-menu
==============================*/

  /* active:text-main  */

  .translate-underline__hover-line__dark {
    @apply /* */ relative cursor-pointer transition-all duration-100
     before:absolute before:-bottom-1 before:right-0 before:h-px before:w-0
     before:bg-lightDarkGrey before:opacity-0 before:transition-all
     before:duration-1000 before:content-[''] 
     hover:text-lightDarkGrey hover:before:left-0 hover:before:right-auto
      hover:before:w-full hover:before:opacity-100 
      hover:before:duration-300
      hover:after:scale-100 active:text-main active:before:bg-main
      active:before:text-main;
  }

  /*==============================
translate-underline__hover-line
================================*/

  .translate-underline__hover {
    @apply hover:translate-x-6 hover:text-main
    hover:underline hover:underline-offset-8 hover:transition-all;
  }

  .translate-underline__hover-line {
    @apply relative cursor-pointer transition-all duration-500 before:absolute before:-bottom-0
     before:right-0 before:h-px before:w-0 before:bg-main before:opacity-0
     before:transition-all before:duration-1000 before:content-[''] 
     hover:before:left-0 hover:before:right-auto 
     hover:before:w-full hover:before:opacity-100 hover:before:duration-500;
  }

  /*.translate-underline__hover-line__cases {
    @apply relative cursor-pointer transition-all duration-500 before:absolute before:-bottom-[13px]
    before:right-0 before:h-[5px] before:w-0 before:bg-main before:opacity-0
    before:transition-all before:duration-1000 before:content-[''] 
    hover:before:left-0 hover:before:right-auto 
    hover:before:w-full hover:before:opacity-100 hover:before:duration-500;
  }*/

  .translate-underline__hover-line-back {
    @apply relative cursor-pointer transition-all duration-500 before:absolute before:-bottom-0
     before:left-0 before:h-px before:w-0 before:bg-main before:opacity-0
     before:transition-all before:duration-1000 before:content-['']
     hover:before:right-0 hover:before:left-auto 
     hover:before:w-full  hover:before:opacity-100 hover:before:duration-500;
  }

  .transition-arrov {
    @apply transition-all group-hover:translate-x-2;
  }

  .transition-arrov__back {
    @apply transition-all group-hover:-translate-x-2;
  }

  .hover-text__grey {
    @apply hover:text-middleGrey active:text-main;
  }

  .hover-icons__grey {
    @apply hover:fill-middtext-middleGrey;
  }

  /* .btn-hover__white{
    @apply transition-all ease-out hover:bg-white hover:text-mainTextBlack;
  } */

  .btn-hover__white {
    @apply transition-all ease-out hover:ring-white;
  }

  /*================================================ 
 END: header
 =============================================== */

  /* =========
 btn header
 ========== */

  .btn__contact-wrap {
    @apply flex items-center  rounded-full  bg-main
    p-[12px]   transition-all;
  }

  .link-oside__red {
    @apply relative overflow-hidden;
  }

  .link-oside__red::after {
    @apply absolute left-0 top-full h-full
    w-full rounded-[70px] bg-main transition-all content-[''];
  }

  .link-oside__red:hover {
    @apply scale-105 text-white;
  }

  .link-oside__red:hover::after {
    @apply absolute left-0 top-0 -z-10
    h-full w-full rounded-[70px] bg-main transition-all content-[''];
  }

  /*================================================
Styles borders  btn 
================================================ */
  /* border-lightDarkGrey xl:border-t */

  /*.btn {
    @apply m-auto  flex w-full
         items-center justify-center gap-[10px]
          rounded-full bg-main py-[16px] 
         text-base font-bold uppercase text-white transition-all
        sm:max-w-[357px];
  }

  .btn__transparent {
    @apply m-auto  flex 
        w-full items-center justify-center gap-[10px] 
        rounded-full border-[2px] border-main p-[12px] 
        text-sm font-bold uppercase leading-[24px]
        text-mainTextDark 
        transition-all
        sm:max-w-[357px];
  }

  .btn__red {
    @apply flex flex-row items-center justify-center
        gap-[10px] rounded-[70px] border-[1px] border-main bg-main py-4 px-9
        text-base font-bold uppercase  leading-5 text-mainTextWhite;
  }*/

  /* ================================
  Border position
  ==================================*/

  .border__top {
    @apply border-t-[1px] border-t-middleGrey;
  }

  .border__left {
    @apply border-l-[1px] border-l-middleGrey;
  }

  .border__right {
    @apply border-r-[1px] border-r-middleGrey;
  }

  .border__bottom {
    @apply border-b-[1px] border-b-middleGrey;
  }

  .border__rounded {
    @apply rounded-full border-[1px] border-middleGrey
    hover:border-white;
  }

  .border__error {
    @apply rounded-full border-[1px] border-main
    hover:border-main;
  }
}
