@layer components {
  .header {
    @apply fixed top-0 right-0 left-0 z-50 w-full transition-all;
  }
  .menu-open {
    @apply h-screen overflow-y-hidden;
  }

  .header__container {
    @apply mx-auto flex h-[var(--header-h)] max-w-[1920px] items-center  md:h-[var(--header-h-md)]  xl:h-[var(--header-h-xl)];
  }
  .header__wrapper {
    @apply relative flex w-full items-center;
  }
  /* ----------logo------------- */
  .header__logo {
    @apply mr-[34px] text-white md:mr-[53px];
  }
  .header__logo svg {
    @apply h-10   md:h-12 xl:h-[52px];
  }
  /* --------------theme btn----------- */
  .btn-theme-group {
    @apply flex items-center gap-1  xl:min-w-[60px];
  }
  .btn-theme {
    @apply p-3;
  }

  /* -------------navigation ------------- */
  .dynamic-bg {
    @apply fixed top-0 right-0 z-[5] h-full w-0 bg-dynamicBg blur-[25px] transition-all;
  }
  .dynamic-bg.active {
    @apply md:w-full;
  }
  .nav {
    @apply fixed top-[var(--header-h)] right-0 h-screen  w-0 
    bg-dark transition-all md:top-[var(--header-h-md)]  xl:static xl:top-[var(--header-h-xl)] xl:mx-auto
     xl:flex xl:h-auto xl:w-auto xl:items-center xl:justify-between;
  }
  .nav.active {
    @apply grid h-[calc(100vh-var(--header-h))] w-full grid-rows-[auto_550px_1fr]
     overflow-y-auto px-5 md:h-[calc(100vh-var(--header-h-md))]  md:px-[30px] 
    xl:z-[8]  xl:h-[calc(100vh-var(--header-h-xl))] xl:w-auto xl:px-0;
  }

  .nav__list {
    @apply mb-8 flex flex-col  gap-[30px]  pt-[30px] text-xl    transition-all  xl:static 
    xl:mb-0 xl:flex-row xl:gap-[clamp(30px,3vw,50px)]  xl:border-t-0 xl:pt-0 xl:text-base;
  }
  .nav__list.show-links {
    @apply invisible opacity-0;
  }
  /* .nav__list button {
    @apply uppercase;
  } */

  .nav__list-item {
    @apply inline-block max-w-max;
  }

  .nav__list-item a,
  .nav__list-item button {
    @apply bottom-0 uppercase transition-all
       after:h-px after:w-0 after:bg-middleGrey 
     after:transition-all  after:content-[''] hover:text-middleGrey
      hover:after:w-full  active:text-main active:after:bg-main
       md:after:block;
  }

  .nav__link-services {
    @apply hover:text-middleGrey  active:text-main;
  }

  .nav__link-services span {
    @apply inline-flex items-center;
  }
  .nav__link-services svg {
    @apply ml-[10px] -rotate-90 xl:rotate-0;
  }

  .link__list {
    @apply absolute top-[140px] left-full flex w-full flex-col gap-5
     bg-transparent px-5 pt-5 text-base uppercase transition-all md:px-[32px]
     md:pt-10;
  }
  .link__list-full {
    @apply z-[3] transition-all xl:left-1/2 xl:top-[60px] xl:grid 
    xl:w-[500px] xl:origin-top-left xl:translate-x-[-40%] xl:scale-y-0 xl:grid-cols-2 
      xl:gap-[15px] xl:rounded-[10px] xl:bg-white xl:px-5 xl:py-[30px] xl:text-dark;
  }
  .link__list.show-links {
    @apply left-0 xl:left-1/2 xl:scale-y-[1];
  }

  .link__list-back-btn {
    @apply flex max-w-min gap-[10px] text-xs uppercase  
      text-main before:font-mono before:text-[16px] 
      before:content-['<'];
  }

  .link__list a {
    @apply relative inline-flex items-center hover:text-main active:text-main xl:flex;
  }
  .link__list a.pseudo span {
    @apply after:h-px after:w-0 after:bg-main after:transition-all
      after:content-['']  hover:after:w-full   active:after:bg-main
       xl:after:block;
  }
  .link__list a.pseudo:hover span {
    @apply after:w-full;
  }

  .link__list a svg {
    @apply hidden  h-[11px] 
     w-[11px] transition-all hover:text-main
     xl:ml-3 xl:block;
  }

  /* -----------lets talk btn------------- */

  .lets-talk-btn {
    @apply mr-6 ml-auto flex min-h-[40px] min-w-[40px] items-center
    justify-center rounded-[60px] border-[1px] border-main bg-main uppercase
    text-white transition-all hover:border-white hover:bg-white
    hover:text-dark active:border-main active:bg-white active:text-main
   md:mr-10 md:gap-[16px] md:px-6 md:py-[10px] xl:mr-[32px] xl:ml-5 xl:gap-5 xl:rounded-[60px] xl:py-3 xl:px-[25px];
  }
  .lets-talk-btn__text {
    @apply hidden md:block;
  }
  .lets-talk-btn__text svg {
    @apply h-4 w-4;
  }
  /* -----------language btn------------- */

  .btn-language-group-mob {
    @apply flex items-center gap-10 border-b border-middleGrey pt-[33px] pb-[30px] text-middleGrey md:pt-[50px] xl:hidden;
  }
  .btn-language-wrapper {
    @apply rounded p-[10px];
  }
  .btn-language-wrapper.active-language {
    @apply bg-langBg text-white;
  }

  .btn-language {
    @apply flex items-center uppercase hover:text-main;
  }
  .btn-language-full {
    @apply hidden xl:flex;
  }
  .btn-language svg {
    @apply mr-[10px];
  }

  /* -----------burger------------- */

  .burger-wrapper {
    @apply flex min-w-[31px] items-center xl:hidden;
  }
  .burger {
    @apply text-white transition-all hover:text-main xl:hidden;
  }
  .burger-close {
    @apply xl:hidden;
  }

  .is-active {
    @apply transition-all;
  }
}
