@layer components {
  .hero__wrapper {
    @apply relative z-0 pb-20 text-center text-white smOnly:py-16
     md:pt-12 xl:pt-[115px] xl:pb-[115px];
  }
  .hero__title {
    @apply mx-auto mb-5 text-4xl font-bold uppercase
    md:mb-6  md:max-w-[770px] md:text-[60px] md:leading-[66px] xl:mb-14
    xl:max-w-[1560px] xl:text-[120px] xl:leading-[120px];
  }
  .hero__text {
    @apply font-normal md:mx-auto md:max-w-[420px]
     md:font-medium xl:max-w-[660px] xl:text-2xl;
  }
  .hero__btn {
    @apply absolute right-5 bottom-0 z-[2] flex h-[133px] w-[133px] 
    translate-y-1/2 items-end justify-center rounded-full
    bg-main bg-white-arrow bg-16 bg-[center_40px] bg-no-repeat
    px-4 py-7 text-center font-bold text-light 
    md:right-[93px] md:h-[142px] md:w-[142px] md:bg-[center_48px] xl:right-[464px];
  }
}
