@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import "./header.css";
@import "./hero.css";
@import "./cases.css";
@import "./services.css";
@import "./faq.css";
@import "./form.css";
@import "./footer.css";

/*@import "./cases.css";*/
/*@import "./case-page.css";*/
/*@import "./services-page.css";
@import "./blog-page.css";
@import "./about-page.css";
@import "./contacts-page.css";*/

@import "./footer.css";
@import "./utils.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

/* header height */
:root {
  --header-h: 77px;
  --header-h-md: 87px;
  --header-h-lg: 90px;

  /* scrollbar*/
  --primary: #171717;
  --secondary: #ff304d;
}

/* Scrollbar styles */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

html {
  @apply scroll-smooth  text-base font-medium text-dark;
}
body {
  @apply font-montserrat;
}

.lock-wrapper {
  @apply h-screen overflow-hidden;
}

/* -----------swiper---------- */
.mySwiper-container {
  @apply w-full overflow-hidden;
}
.mySwiper .swiper-pagination {
  @apply !bottom-[30px] lg:!bottom-[40px] xl:!bottom-[10px];
}
.mySwiper .swiper-pagination-bullet {
  @apply !mx-[5px] bg-middleGrey opacity-100 lg:!mx-[7px] lg:h-[10px] 
  lg:w-[10px] xl:!mx-[10px] xl:h-[14px] xl:w-[14px] xl:bg-white;
}
.mySwiper .swiper-pagination-bullet-active {
  @apply bg-main;
}

/*=====================================
STYLES 
======================================*/

._nav-item-activ {
  @apply text-main;
}

/*================================================
Styles borders  btn 
================================================ */
/* border-lightDarkGrey xl:border-t */

/**/
.btn {
  @apply m-auto flex  w-full
         items-center justify-center gap-[10px] rounded-full bg-main py-[16px] 
         text-base font-bold uppercase text-white transition-all
        sm:max-w-[357px];
}

/*flex*/
.btn__services {
  @apply m-auto   w-full
         items-center justify-center gap-[10px] rounded-full bg-main py-[16px] 

         text-base font-bold uppercase text-white transition-all
        sm:max-w-[357px];
}

.btn__transparent {
  @apply m-auto  flex 
        w-full items-center justify-center gap-[10px] 
        rounded-full border-[2px] border-main p-[12px] 
        text-sm font-bold uppercase leading-[24px]
        text-dark 
        transition-all
        sm:max-w-[357px];
}

.btn__red {
  @apply flex flex-row items-center justify-center
        gap-[10px] rounded-[70px] border-[1px] border-main bg-main py-4 px-9
        text-base font-bold uppercase  leading-5 text-white;
}

/*================================================
btn-hover:after cases-05
================================================ */
/* ==================
liner-gradient-img
=================== */

/* .link-oside {
  @apply relative overflow-hidden;
}

.link-oside::after {
  @apply absolute left-0 top-full h-full w-full
    rounded-[70px] bg-activeRed transition-all ease-in content-[''];
}

.link-oside:hover {
  @apply scale-105;
}

.link-oside:hover::after {
  @apply absolute left-0 top-0 -z-10 h-full w-full 
    rounded-[70px] bg-activeRed content-[''];
} */

/*================================================
btn-hover-overlay-red
================================================ */

/* =========
 btn header
 ========== */

/* .btn__contact-wrap {
  @apply flex items-center  rounded-full  bg-main
    p-[12px]   transition-all;
}

.link-oside__red {
  @apply relative overflow-hidden;
}

.link-oside__red::after {
  @apply absolute left-0 top-full h-full
    w-full rounded-[70px] bg-main transition-all content-[''];
}

.link-oside__red:hover {
  @apply scale-105 text-white;
}

.link-oside__red:hover::after {
  @apply absolute left-0 top-0 -z-10
    h-full w-full rounded-[70px] bg-main transition-all content-[''];
} */

/* ================================
  Border position
  ==================================*/

/* .border__top {
  @apply border-t-[1px] border-t-middleGrey;
}

.border__left {
  @apply border-l-[1px] border-l-middleGrey;
}

.border__right {
  @apply border-r-[1px] border-r-middleGrey;
}

.border__bottom {
  @apply border-b-[1px] border-b-middleGrey;
}

.border__rounded {
  @apply rounded-full border-[1px] border-middleGrey
    hover:border-white;
} */

/* .border__error {
  @apply rounded-full border-[1px] border-main
    hover:border-main;
} */

/* ====================================
google-review
====================================== */
/*bg-bgColor*/

/* ====================================
    |
    |      BEGIN:   CASES PAGE
    |    
====================================== */

/* .page {
  position: relative;
  z-index: 2; 
  bottom: 10px;
} */

.bunner-img img {
  @apply relative top-0 left-0 h-full w-full object-cover;
}

.contextual__item::after {
  @apply absolute bottom-0 left-0 h-[1px]
  w-full bg-middleGrey transition ease-in content-[''];
}

.count__item::after {
  @apply absolute  top-[-10px]
  right-0 h-[118px] w-[1px]  bg-middleGrey content-[''];
}

/* .cyberbet  .content__block::after{
  @apply content-['']  absolute
  w-[1px]  h-[100%] bg-middleGrey top-0 left-[-60px] ;
} */

.cyberbet .content__block::after {
  @apply xl:absolute  xl:top-0
  xl:left-[-152px] xl:h-[100%] xl:w-[1px]  xl:bg-middleGrey xl:content-[''];
}

/* 14-section-contextual*/

.content__block::after {
  @apply xl:absolute  xl:top-[-70px]
  xl:left-[-140px] xl:h-[111%] xl:w-[1px]  xl:bg-middleGrey xl:content-[''];
}

/*  14-section-contextual */

.next-case__title::after {
  @apply xl:absolute  xl:top-[-35px]
  xl:right-[-25px] xl:h-[calc(100%+70px)] xl:w-[1px]  xl:bg-middleGrey xl:content-[''];
}

.next-case__title-right::after {
  @apply xl:absolute  xl:top-[-35px]
  xl:right-[-67px] xl:h-[calc(100%+70px)] xl:w-[1px]  xl:bg-middleGrey xl:content-[''];
}
