/*=============== DISCUSS ============= */
@layer components {
  .heading2.person__title {
    @apply mb-[38px] xl:mb-[50px];
  }
  .person__container {
    @apply pt-[64px] md:pb-[55px] xl:pb-[115px];
  }
  .person__wrapper {
    @apply row-auto grid  grid-cols-[auto_1fr] 
    gap-[0_4%] pt-8 pb-[60px] text-light
    md:grid-rows-[auto_1fr_auto_auto] md:gap-[0_64px] md:pt-10 md:pb-[84px] xl:col-start-2
     xl:col-end-3 xl:flex-grow xl:grid-cols-[auto_1fr] 
      xl:gap-[0_max(6%,20px)]
      xl:pt-[50px] xl:pl-[clamp(20px,8vw,152px)];
  }
  .person__thumb {
    @apply md:row-start-1 md:row-end-5 xl:w-[clamp(200px,21vw,390px)];
  }
  .person__image-wrapper {
    @apply relative;
  }
  .person__image-overlay {
    @apply absolute bottom-0 left-0 h-[70%] w-full
     bg-gradient-to-t text-white
      xl:from-[#FF304D8F];
  }
  .person__image {
    @apply block h-auto w-full max-w-[150px]
     md:max-w-[240px]  xl:max-w-[390px];
  }
  .person__info {
    @apply md:flex;
  }
  .person__info-text-wrapper {
    @apply self-center  md:flex  md:flex-col;
  }

  .person__info-name {
    @apply mb-[10px] text-xl leading-[1.1] md:mb-[6px]  md:text-2xl xl:text-[32px];
  }
  .person__info-position {
    @apply text-sm leading-4  text-middleGrey xl:text-base xl:leading-5;
  }
  .person__about {
    @apply col-start-1 col-end-3 mb-[95px] mt-9  
     overflow-y-auto  md:col-start-auto md:col-end-auto md:mb-2 
     md:mt-[30px] md:leading-[1.4] xl:text-[clamp(18px,1.5vw,24px)];
  }
  .person__clients {
    @apply hidden leading-[1.3] md:mb-5 md:block;
  }
  .person__experience-list {
    @apply col-start-1 col-end-3 flex gap-[max(3vw,20px)] md:col-start-auto  md:col-end-auto;
  }
  .person__experience-list-item {
    @apply flex  flex-wrap items-center;
  }
  .person__experience-value {
    @apply mr-2 text-4xl font-bold leading-[43px] tracking-wider
     text-main xl:text-[clamp(2.5rem,4vw,4rem)] xl:leading-[1.2];
  }
  .person__experience-desc {
    @apply max-w-[90px] text-[10px] leading-[14px] md:text-[12px] xl:text-base xl:leading-4;
  }
  .person__order-wrapper {
    @apply border-middleGrey pt-[30px] pb-[30px]
      xl:row-start-1 xl:w-full xl:border-r xl:pt-[50px] xl:pr-[50px];
  }
  .person__order-text {
    @apply mb-[30px] tracking-[0.4px] md:mb-10 md:leading-[1.4] xl:mb-[50px] xl:text-base xl:leading-[1.4];
  }
  .main-btn.person__main-btn {
    @apply font-normal leading-[1.3] tracking-[0.16px];
  }
}
