/*=============== DISCUSS ============= */
@layer components {
  .person__title {
    @apply mb-[30px] xl:mb-[50px];
  }
  .person__grid {
    @apply flex-row-reverse xl:flex;
  }
  .person__wrapper {
    @apply row-auto grid pt-8 pb-14 
    text-light smOnly:grid-cols-[48%_48%] smOnly:gap-[0_4%] 
    md:grid-cols-[240px_1fr] md:gap-[0_64px] xl:flex-grow
     xl:grid-cols-[390px_1fr] xl:pt-[50px] xl:pl-[200px];
  }
  .person__thumb {
    @apply md:row-start-1  md:row-end-5;
  }
  .person__image {
    @apply block h-[180px] w-[150px] smOnly:overflow-hidden
     smOnly:rounded-[20px] md:h-[352px] md:w-[240px] xl:h-[520px] xl:w-[390px];
  }
  .person__info {
    @apply md:flex md:items-center;
  }
  .person__info-decor {
    @apply bg-double-quotes smOnly:mb-[10px] smOnly:bg-16 md:mr-[30px];
  }
  .person__info-name {
    @apply mb-[10px] text-xl  leading-[22px] xl:text-[32px];
  }
  .person__info-position {
    @apply text-sm leading-4  text-middleGrey xl:text-base xl:leading-5;
  }
  .person__about {
    @apply mt-9 overflow-y-auto smOnly:col-start-1 smOnly:col-end-3
     smOnly:min-h-[280px] md:mt-7 md:mb-2 md:max-h-[160px]  md:min-h-[160px]
      xl:max-h-[250px]  xl:min-h-[250px] xl:text-2xl;
  }
  .person__clients {
    @apply smOnly:hidden md:mb-5;
  }
  .person__experience-list {
    @apply flex smOnly:col-start-1 smOnly:col-end-3;
  }
  .person__experience-list-item {
    @apply flex w-[45%] items-center;
  }
  .person__experience-value {
    @apply text-4xl font-bold leading-[43px] tracking-wider
     text-main xl:text-[64px] xl:leading-[76px];
  }
  .person__experience-desc {
    @apply max-w-[90px] leading-[14px] smOnly:text-[10px] mdOnly:text-[12px] xl:leading-4;
  }
  .person__order-wrapper {
    @apply border-middleGrey pt-[30px] pb-[30px]
     xl:w-[410px] xl:border-r-[1px] xl:pt-[50px] xl:pr-[50px];
  }
  .person__order-text {
    @apply mb-[30px] tracking-[0.4px] md:mb-10 xl:mb-[50px];
  }
}
