@layer components {
  /*=============== SERVICES ============= */

  .services-wrapper {
    @apply pt-20 pb-20  md:pt-[90px] md:pb-[110px];
  }

  .services__heading {
    @apply mb-[30px];
  }
  .services__description {
    @apply mb-10  pt-[30px] md:mb-[30px] md:pt-10 xl:pr-[50px];
  }
  .services__cards-list {
    @apply border-middleGrey md:grid md:grid-flow-col md:grid-cols-2 md:grid-rows-5 xl:border-t-[1px]  xl:pt-[70px];
  }
  .services__card {
    @apply text-black dark:text-white md:pt-[200px] xl:pt-[350px];
  }
  /* ---right border--- */
  .services__card:nth-child(-n + 5) {
    @apply md:border-r-[1px] md:border-middleGrey;
  }
  /* ---grid text padding--- */
  .services__card:nth-child(-n + 5) .services__card-text,
  .services__card:nth-child(-n + 5) .services__card-title-wrapper {
    @apply md:pr-7 xl:pr-[50px] xl:pl-[50px];
  }
  .services__card:nth-child(n + 6) .services__card-text,
  .services__card:nth-child(n + 6) .services__card-title-wrapper {
    @apply md:pl-7 xl:pl-[50px];
  }
  .services__card:nth-child(n + 6) {
    @apply md:pt-[270px] xl:pt-[440px];
  }
  /* ------------- */

  .services__card-title-wrapper {
    @apply flex items-center justify-between border-b-[1px]
     border-b-middleGrey text-2xl font-bold leading-[26.4px];
  }
  .services__card-title {
    @apply cursor-pointer py-5 text-2xl font-bold leading-[26.4px] md:cursor-auto xl:py-10 xl:text-[42px];
  }

  .services__card-content-wrapper {
    @apply flex max-h-0 flex-col overflow-hidden transition-height
     duration-500 ease-in-out md:relative md:max-h-full md:overflow-visible;
  }
  .services__card-content-wrapper.open {
    @apply max-h-[580px];
  }
  .services__card-text {
    @apply mb-10 max-h-[190px] pt-5 md:mb-0 md:max-h-[240px] xl:pt-10;
  }
  .services__card-image-wrapper {
    @apply mt-10 md:absolute md:left-10 md:top-[-280px] md:mt-0
     md:h-[216px] md:w-[216px] md:rounded-full md:bg-lightGrey
      xl:left-20 xl:top-[-460px]  xl:h-[355px] xl:w-[355px];
  }
  .services__card-image {
    @apply h-[152px] w-[320px] md:absolute md:left-1/2 
    md:top-1/2 md:w-[265px] md:max-w-none md:translate-x-[-50%] 
    md:translate-y-[-50%] xl:h-[270px] xl:w-[460px];
  }
  .main-btn.services__main-btn {
    @apply hidden md:mt-14 md:flex xl:mr-[50px] xl:mt-0;
  }

  /* =========== services page ============== */
  /* .services-page-wrapper {
    @apply m-0;
  } */
  .services-page__breadcrumbs {
    @apply mb-[32px] text-middleGrey md:mb-[62px] xl:mb-[70px];
  }
  .services-page__main-content-wrapper {
    @apply border-t-[1px] border-middleGrey pb-14 md:pb-20 xl:flex xl:pb-[196px];
  }

  .services-page__service-image-wrapper {
    @apply relative mx-auto hidden h-[629px] max-w-[629px] basis-1/2 rounded-full
     bg-darkGrey xl:mt-[90px] xl:block;
  }
  .services-page__service-image {
    @apply absolute top-1/2 left-1/2 h-[479px] w-[706px]
     translate-x-[-50%] translate-y-[-50%];
  }

  .services-page__list {
    @apply xl:basis-1/2;
  }
  .services-page__list-item {
    @apply flex items-center border-b-[1px] border-middleGrey py-7 md:py-10;
  }
  .services-page__list-item-number {
    @apply hidden text-middleGrey md:mr-[70px] md:block xl:text-2xl;
  }
  .services-page__list-item-title {
    @apply text-xl font-semibold uppercase md:text-4xl xl:text-[42px];
  }
  .services-page__list-item-link {
    @apply ml-auto h-[18px] w-[18px] md:h-[21px] md:w-[21px];
  }
  .services-page__arrow-size svg {
    @apply h-[18px] w-[18px]  md:h-[21px] md:w-[21px];
  }

  /* =============== how we work section (services page) ================  */

  .how__container {
    @apply py-[70px];
  }
  .how__wrapper {
    @apply border-t-[1px] border-middleGrey pt-[30px] xl:pt-[74px];
  }
  .how__title {
    @apply mb-[30px] text-[28px] font-bold uppercase md:text-[42px] 
    xl:mb-[63px] xl:text-[90px] xl:leading-[100px];
  }
  .how__content {
    @apply flex-row-reverse xl:flex;
  }
  .how__grid-wrapper {
    @apply mb-8 md:mb-16 xl:min-w-[1244px] xl:border-l-[1px]
     xl:border-middleGrey;
  }
  .how__intro-text {
    @apply mb-[50px] text-xl md:ml-auto md:mb-[68px]
     md:max-w-[50%] md:text-base xl:max-w-[810px] xl:text-[32px] xl:leading-[45px];
  }

  .how__list {
    @apply grid gap-10 md:grid-cols-2 md:gap-0;
  }
  .how__list-item {
    @apply md:mt-[100px];
  }
  .how__list-item:nth-child(odd) {
    @apply md:mt-0 md:border-r-[1px] md:border-middleGrey;
  }
  .how__list-item:nth-child(odd) > * {
    @apply xl:ml-[154px];
  }
  .how__list-item:nth-child(even) > * {
    @apply md:pl-[75px] xl:pl-[50px];
  }
  .how__card-number {
    @apply mb-[5px] font-bold text-middleGrey xl:mb-[14px] xl:text-2xl;
  }
  .how__card-title {
    @apply mb-[30px] text-2xl font-bold xl:mb-[42px] xl:text-[42px];
  }
  .how__card-list {
    @apply border-b-[1px] border-middleGrey pb-10 md:mb-10 xl:pb-[50px];
  }
  .how__card-list-item {
    @apply flex items-center;
  }
  .how__card-list-item svg {
    @apply mr-4 h-4 w-4;
  }
  .how__card-list-item:not(:last-child) {
    @apply mb-8;
  }
  .how__card-list-item-text {
    @apply uppercase xl:text-2xl;
  }
  .main-btn.how__main-btn {
    @apply xl:ml-0;
  }
}
