@layer components {
  /*================================================
BEGIN: 06-section-services
 =============================================== */
  .text__hover-red {
    @apply transition ease-in group-hover/card:text-main;
  }

  /* cards__btn */
  /* top-[32px] right-[23px] */
  /*  xl:relative xl:top-[-25px] xl:right-[-2px] 2xl:right-[-32px]  */
  .wrap-svg__hover-red {
    @apply rounded-full transition-all ease-in
  xl:p-[26px]
                                
  xl:group-hover/card:bg-main 2xl:p-8;
  }

  .svg__hover-red {
    @apply transition-all ease-in 
  group-hover/card:fill-main 
  
  xl:group-hover/card:fill-white;
  }

  /* hover:text-white active:text-main active:before:bg-main
      active:before:text-main*/
  .translate-underline__hover-line__white {
    @apply relative cursor-pointer transition-all duration-100
     before:absolute before:-bottom-[1px] before:right-0 before:h-[2px] before:w-0
     before:bg-white before:opacity-0 before:transition-all
     before:duration-1000 before:content-[''] 
     group-hover/card:before:left-0 group-hover/card:before:right-auto
      group-hover/card:before:w-full group-hover/card:before:opacity-100 
      group-hover/card:before:duration-300
      group-hover/card:after:scale-100;
  }

  /*================================================
END: 06-section-services
 =============================================== */
}
