@layer components {
  /* =========== HEADING ============ */
  .heading2 {
    @apply text-4xl font-bold uppercase dark:text-white md:text-[45px] md:leading-[50px] xl:text-[90px] xl:leading-[100px];
  }

  /*=============== MAIN BUTTON ============= */

  .main-btn {
    @apply mx-auto flex h-[60px] min-w-[320px] items-center justify-center rounded-[70px] border-[1px]
    border-main bg-main fill-white px-1 py-1 text-white hover:bg-activeRed active:bg-activeRed md:min-w-[357px];
  }
  .main-btn--reversed {
    @apply border-2 border-main bg-white fill-dark text-dark hover:bg-main hover:text-white active:bg-main active:text-white md:hidden;
  }
  .main-btn__lable {
    @apply font-bold uppercase;
  }
  .main-btn__lable--smaller {
    @apply text-sm;
  }
  .main-btn__icon {
    @apply ml-3 inline-block h-4 w-4 bg-white-arrow bg-contain  bg-center bg-no-repeat;
  }
  .main-btn.btn-mgn-r-50 {
    @apply mt-[50px] xl:mr-[50px] xl:ml-0 xl:mt-0;
  }

  /*=============== CIRCLE WHITE BUTTON ============= */

  .circle-white-btn {
    @apply flex h-[38px] w-[38px] items-center justify-center rounded-full 
    border-[1px] border-middleGrey bg-transparent text-4xl
    hover:border-main hover:bg-main active:border-main active:bg-main;
  }
  .circle-white-btn svg {
    @apply h-[11px] w-[11px] text-dark dark:text-white;
  }
  .circle-white-btn--white svg {
    @apply text-white;
  }
  .circle-white-btn:hover svg {
    @apply text-white;
  }
  /* -------- person-circle-double-quotes-btn ----- */
  .person-circle-double-quotes-btn {
    @apply mb-[10px] flex h-9 w-9 items-center justify-center
     rounded-full  bg-white md:mb-0 md:mr-[30px]
      md:h-16 md:w-16 xl:h-[64px]  xl:w-[64px];
  }
  .person-circle-double-quotes-btn svg {
    @apply h-[14px] w-[14px] md:h-[22px] md:w-[22px];
  }
  /*----------- #Button V5 ---- Scroll Team ------- */
  .circle-team-btn {
    @apply absolute left-0 bottom-0 flex h-[37px] w-[37px] translate-y-[50%]
     items-center justify-center rounded-full border-[2px]
     border-light bg-light hover:border-main 
    active:border-main md:h-[58px] md:w-[58px] 
    xl:h-[72px]  xl:w-[72px];
  }
  .circle-team-btn svg {
    @apply h-[14px] w-[14px] text-dark md:h-5 md:w-5;
  }

  /* =============  breadcrumbs ========== */

  .breadcrumbs-wrapper {
    @apply flex;
  }
  .breadcrumbs {
    @apply text-[10px] font-normal text-middleGrey hover:font-semibold hover:text-white active:font-semibold;
  }
  /* =========== GRADIENT ============ */
  .red-gradient {
    @apply relative overflow-hidden from-gradientMain to-transparent
    before:absolute before:right-0 
    before:translate-x-[50%] before:bg-gradient-radial 
     before:content-[''];
  }
  .red-gradient-top {
    @apply before:top-0 before:h-[212px] before:w-[212px]
       before:blur-[45px] md:before:h-[322px] md:before:w-[322px]
     md:before:blur-[60px] xl:before:h-[591px] xl:before:w-[591px] xl:before:blur-[90px];
  }
  .red-gradient-bottom {
    @apply before:top-20 before:h-[187px] before:w-[187px] before:blur-[45px] md:before:top-[100px]
     md:before:h-[295px] md:before:w-[295px] md:before:blur-[80px] 
     xl:before:top-[150px] xl:before:h-[435px] xl:before:w-[435px] xl:before:blur-[90px];
  }
  /* =========== BIG RED ROUND BUTTON ============ */

  .video__big-red-btn {
    @apply absolute right-[15%] top-0 z-[2] -translate-y-1/2;
  }
  .big-red-btn {
    @apply flex min-h-[133px] w-[133px] min-w-[133px] flex-col items-center justify-center gap-3 rounded-full bg-main px-4
    py-7 text-center text-sm font-bold uppercase text-light md:min-h-[142px]
     md:w-[142px] md:min-w-[142px] md:bg-[center_48px] xl:min-h-[177px] xl:w-[177px] xl:min-w-[177px] xl:text-base;
  }
  .big-red-btn.cases-page__big-red-btn {
    @apply min-h-[125px] w-[125px] min-w-[125px] md:min-h-[125px] md:w-[125px] md:min-w-[125px] xl:min-h-[177px] xl:w-[177px] xl:min-w-[177px];
  }
  /* =========== COOKIES ============ */

  #cookies {
    @apply fixed bottom-10 right-10 flex max-w-[490px] items-center rounded-[60px] border-[1px] border-middleGrey bg-dark py-[17px] pr-[17px] pl-[38px] text-white;
  }
  .learn-more {
    @apply font-bold uppercase transition-all hover:text-main;
  }
  #accept-btn {
    @apply ml-5 rounded-[50px] bg-grey py-4 px-10 uppercase text-white transition-all
     hover:bg-white hover:text-dark;
  }

  /* =========== LETS TALK BUTTON ============ */

  .lets-talk-btn {
    @apply flex min-h-[40px] min-w-[40px] items-center justify-center
    rounded-[60px] border-[1px] border-main bg-main uppercase text-white
    transition-all hover:border-white hover:bg-white hover:text-dark active:border-main active:bg-white
   active:text-main md:gap-[16px] md:px-6 md:py-3;
  }
  .lets-talk-btn__text {
    @apply hidden md:block;
  }
  .lets-talk-btn__text svg {
    @apply h-4 w-4;
  }
}

@layer utilities {
  .theme-white {
    @apply bg-light text-dark  dark:bg-dark dark:text-white;
  }
  .theme-black {
    @apply bg-dark text-white dark:bg-dark dark:text-white;
  }

  /*========= animate link arrows ============  */
  .link-arrow-animation {
    @apply relative overflow-hidden;
  }
  .link-arrow-animation svg {
    @apply absolute transition-all duration-300 ease-in-out;
  }
  .link-arrow-animation svg:first-child {
    @apply top-0 right-0;
  }
  .link-arrow-animation:hover svg:first-child {
    @apply top-[-100%] right-[-100%];
  }
  .link-arrow-animation svg:last-child {
    @apply top-[100%] right-[100%];
  }
  .link-arrow-animation:hover svg:last-child {
    @apply top-0 right-0;
  }

  /* ---------main page 'services' and 'cases' desktop screen grid -------- */
  .grid-container-xl {
    @apply xl:grid xl:grid-cols-[410px_1fr]  xl:grid-rows-[240px_auto];
  }
  .grid-container-item-xl {
    @apply border-middleGrey  xl:col-start-2 xl:row-start-1 xl:row-end-3 xl:border-l-[1px];
  }
  /* ------------------------- */

  /* ============= CASES PAGE ========== */
  .cases__btn {
    @apply rounded-[40px] bg-lightGrey py-[10px] px-4 text-sm uppercase text-dark dark:bg-darkGrey dark:text-light xl:rounded-[50px] xl:py-3 xl:px-5;
  }

  .white-circle {
    @apply flex h-9 w-9 items-center justify-center rounded-full
     bg-white  md:h-16 md:w-16 xl:h-[72px] xl:w-[72px];
  }
  /* .black-up-right-arrow {
    @apply inline-block h-[22px] min-w-[22px] bg-dark-arrow bg-contain bg-center bg-no-repeat;
  } */
  .pre-heading {
    @apply mb-7 text-[12px] font-bold uppercase leading-4 tracking-wider text-middleGrey md:mb-4;
  }
  .mrg-t-sm {
    @apply mt-[30px];
  }
  .mrg-t-md {
    @apply mt-[50px];
  }
  .mrg-b-sm {
    @apply mb-[30px];
  }
  .mrg-b-md {
    @apply mb-[60px];
  }
  .top-border {
    @apply border-t-[1px] border-t-middleGrey;
  }
  .bottom-border {
    @apply border-b-[1px] border-b-middleGrey;
  }
  .auto-height {
    @apply h-auto;
  }
}
