/* =========== BIG RED ROUND BUTTON ============ */

/* .big-red-btn.video__big-red-btn {
  @apply
} */
.big-red-btn {
  @apply flex h-[133px] w-[133px] flex-col items-center justify-center gap-3
   rounded-full text-center text-sm font-bold uppercase text-light before:absolute
     before:top-0 before:left-0 before:z-[-1] before:h-full before:w-full before:rounded-full 
     before:bg-main before:transition-all before:content-[''] lg:h-[142px]
      lg:w-[142px] xl:h-[145px] xl:w-[145px] xl:px-3
        xl:text-base
      xl:hover:before:scale-[0.8] 1xl:h-[158px]  1xl:w-[158px]
      2xl:h-[177px] 2xl:w-[177px];
}
.big-red-btn.cases-page__big-red-btn {
  @apply h-[125px] w-[125px]  lg:h-[125px] lg:w-[125px] xl:h-[177px] xl:w-[177px];
}
.big-red-btn#btn-close-popup-forms {
  @apply relative mx-auto;
}

/* =========== COOKIES ============ */

#cookies {
  @apply fixed bottom-10 right-[3vw] z-50 grid w-[300px] grid-cols-[1fr_auto]
     items-center   rounded-[20px] border-[1px] border-middleGrey bg-dark
     py-5 px-5 text-sm text-white lg:right-[7vw] lg:w-fit 
      lg:rounded-[60px] lg:py-[17px] lg:pr-[17px] lg:pl-[38px] lg:text-base;
}
.cookies-text {
  @apply col-start-1 col-end-3 mb-[15px] lg:col-start-auto lg:col-end-auto lg:mb-0;
}
.learn-more {
  @apply font-bold uppercase transition-all hover:text-main;
}
#acceptBtn {
  @apply rounded-[50px] bg-grey py-[10px] px-[30px] uppercase text-white transition-all hover:bg-white hover:text-dark lg:col-start-2 lg:row-start-1 lg:row-end-3 lg:ml-10
     lg:py-4 lg:px-10;
}
