@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@layer base {
  html {
    @apply font-montserrat font-medium text-dark transition-all;
  }
}
@tailwind components;
@tailwind utilities;

@layer components {
  /* .main.main--active {
    @apply pt-[76px];
  } */

  .header {
    @apply bg-dark;
  }

  .header.header--active {
    @apply fixed right-0 z-10 h-screen w-full overflow-y-auto overflow-x-hidden transition-all sm:w-[465px];
  }

  .header--active .btn__contact-title {
    @apply hidden;
  }

  .header--active .nav__link-services::before {
    @apply rotate-0;
  }

  .header--active .nav__item {
    @apply absolute top-[184px] left-0 mx-5 flex w-[92%] flex-col gap-[30px] border-t border-middleGrey px-0 pt-[30px] text-xl;
  }

  .header--active .nav-icon {
    @apply right-[-40px] top-[9px] h-2 w-5 rotate-[-90deg];
  }

  .header--active .btn-language {
    @apply absolute left-5 top-[128px] flex;
  }

  .nav {
    @apply flex items-center justify-between py-3.5;
  }

  .logo {
    @apply flex items-center gap-x-8;
  }

  .nav__item {
    @apply absolute top-[-100%] px-2 font-montserrat text-base uppercase text-lightGrey transition-all md:static md:flex md:gap-6 xl:gap-[50px];
  }

  .nav__link {
    @apply after:block after:h-px after:w-full after:scale-0 after:bg-middleGrey after:transition-all after:content-[''] hover:text-middleGrey hover:after:scale-100 active:text-main active:after:bg-main;
  }

  .nav__link-services::before {
    @apply absolute right-[-20px] block rotate-90 font-mono text-[19px] content-['>'];
  }

  .link__list {
    @apply absolute top-[184px] left-full mx-5 flex w-[92%] scale-0 flex-col gap-[30px] border-t border-middleGrey px-2 pt-[30px] font-montserrat text-base uppercase text-lightGrey transition-all;
  }

  .link__list-btn {
    @apply flex max-w-min gap-[10px] font-montserrat text-xs   uppercase text-main before:font-mono before:text-[16px] before:content-['<'];
  }

  .nav__btn {
    @apply flex items-center gap-[33px];
  }

  .btn__contact {
    @apply flex items-center justify-end gap-[16px] transition-all;
  }

  .btn__contact-wrap {
    @apply flex justify-end rounded-full border border-solid border-transparent bg-main p-[12px] transition-all;
  }

  .burger {
    @apply relative flex bg-transparent transition-all;
  }

  .burger:hover .burger__inner {
    @apply bg-middleGrey;
  }

  .burger:hover .burger__inner {
    @apply before:bg-middleGrey;
  }

  .burger:hover .burger__inner {
    @apply after:bg-middleGrey;
  }

  .burger__box {
    @apply relative h-[28px] w-[31px];
  }

  .burger__inner {
    @apply absolute top-0 h-[3px] w-[31px] bg-white transition-all;
  }

  .burger__inner {
    @apply before:absolute before:top-3 before:block before:h-[3px] before:w-[31px] before:bg-white before:transition-all before:content-[''];
  }

  .burger__inner {
    @apply after:absolute after:top-[25px] after:block after:h-[3px] after:w-[31px] after:bg-white after:transition-all after:content-[''];
  }

  .is-active {
    @apply transition-all;
  }

  .is-active.nav {
    @apply top-0 transition-all;
  }

  .is-active .burger__inner {
    @apply !bg-transparent;
  }

  .is-active .burger__inner {
    @apply before:top-0 before:translate-y-[13px] before:rotate-45 before:bg-lightGrey before:transition-all;
  }

  .is-active .burger__inner {
    @apply after:top-0 after:translate-y-[13px] after:rotate-[-45deg] after:bg-lightGrey after:transition-all;
  }

  .round-btn {
    @apply absolute right-5 bottom-[-67px] flex h-[133px] w-[133px] flex-col items-center justify-center gap-[10px] rounded-full bg-main font-montserrat text-base font-bold uppercase text-white md:right-[93px] md:bottom-[-74px] md:h-[142px] md:w-[142px] md:pt-5 xl:bottom-[-87px] xl:h-[177px] xl:w-[177px] xl:pt-1.5;
  }

  /* =========== HEADING ============ */
  .heading2 {
    @apply mb-[30px] text-4xl font-bold  uppercase;
  }
  .heading2--white {
    @apply mb-[34px] text-white;
  }
  /* =========== HERO ============ */

  .hero__wrapper {
    @apply relative z-0 py-16 text-center text-white;
  }
  .hero__title {
    @apply mb-5 text-4xl font-bold uppercase;
  }
  /* =========== CASES ============ */
  .cases {
    @apply bg-white dark:bg-dark;
  }
  .cases__intro-image {
    @apply mb-20 w-full;
  }
  .cases__intro-wrapper {
    @apply mb-[70px] flex flex-col;
  }
  .cases__intro-title {
    @apply mb-[30px] pt-[30px] text-xl font-bold uppercase leading-[22px];
  }
  .cases__intro-text {
    @apply mb-[30px]  pt-[30px] text-xl   leading-[26px];
  }

  .cases__description {
    @apply mb-[22px] border-t-[1px] border-t-middleGrey pb-[22px] pt-[30px] text-base   leading-[22px];
  }
  .cases__card {
    @apply border-t-[1px] border-t-middleGrey  py-[30px];
  }
  .cases__card-image {
    @apply mb-[30px] block;
  }
  .cases__card-title {
    @apply mb-[25px] text-2xl font-bold leading-[26.4px];
  }
  .cases__card-text {
    @apply text-sm;
  }
  .cases__card-copyright {
    @apply text-[12px]   uppercase leading-4;
  }

  /*=============== MAIN BUTTON ============= */

  .main-btn {
    @apply flex h-[57px] min-w-[320px] items-center justify-center rounded-[70px]
    bg-main fill-white px-1 py-1 text-white;
  }
  .main-btn--reversed {
    @apply border-2 border-main bg-white fill-dark text-dark;
  }
  .main-btn__lable {
    @apply text-base font-bold uppercase leading-6;
  }
  .main-btn__lable--smaller {
    @apply text-sm;
  }
  .main-btn__icon {
    @apply ml-3  inline-block h-4 w-4 bg-[url('../images/up-right-white.svg')] bg-[length:15px_14px] bg-center bg-no-repeat;
  }

  /*=============== SERVICES ============= */

  .services-wrapper {
    @apply py-20;
  }
  .services__intro-wrapper {
    @apply mb-10;
  }
  .services__description {
    @apply pt-[30px] text-base   leading-[22px];
  }
  .services__card {
    @apply text-black;
  }
  .services__card-title-wrapper {
    @apply flex  items-center justify-between border-b-[1px] border-b-middleGrey text-2xl font-bold leading-[26.4px];
  }
  .services__card-title {
    @apply py-5 text-2xl font-bold leading-[26.4px];
  }
  .services__card-title-arrow {
    @apply inline-block h-[21px] w-[21px] bg-[url('../images/up-right-dark.svg')] bg-[length:21px_21px] bg-center bg-no-repeat;
  }

  .services__card-content-wrapper {
    @apply flex max-h-0 flex-col overflow-hidden transition-height duration-500 ease-in-out;
  }
  .services__card-content-wrapper.open {
    @apply max-h-[580px];
  }
  .services__card-text {
    @apply mb-10 max-h-[190px]  pt-5 text-base leading-[22px];
  }
  .services__card-image {
    @apply mt-10 w-[320px];
  }
  /*=============== DISCUSS ============= */

  .person__wrapper {
    @apply border-middleGrey py-[34px] text-light;
  }
  .person__thumb {
    @apply mb-[36px]  grid grid-cols-2 gap-4;
  }
  .person__image {
    @apply h-auto w-full overflow-hidden rounded-[20px] bg-transparent;
  }
  .person__info {
    @apply flex flex-col;
  }
  .person__info-decor {
    @apply mb-[10px] flex h-9 w-9 items-center justify-center
     rounded-full bg-white bg-double-quotes bg-center bg-no-repeat text-4xl text-dark;
  }
  .person__info-name {
    @apply mb-[10px] text-xl   leading-[22px];
  }
  .person__info-position {
    @apply text-sm   leading-4 text-middleGrey;
  }
  .person__decription {
    @apply min-h-[280px] text-base;
  }
  .person__experience-list {
    @apply flex;
  }
  .person__experience-list-item {
    @apply flex w-[45%] items-center;
  }
  .person__experience-value {
    @apply text-4xl font-bold leading-[43px] tracking-wider text-main;
  }
  .person__experience-desc {
    @apply text-[10px] leading-[14px];
  }
  .discuss__order-text {
    @apply mb-[30px] pt-[30px] text-base   tracking-[0.4px];
  }

  /*=============== BLOG ============= */

  .blog-wrapper {
    @apply pt-5 pb-10;
  }
  .blog__heading-wrapper {
    @apply flex justify-between;
  }
  .blog__decor {
    @apply mb-[10px] flex h-9 w-9 items-center justify-center rounded-full border-[1px] border-light
     bg-dark bg-[url('../images/up-right-white.svg')] bg-[length:11px_11px] bg-center bg-no-repeat  text-4xl;
  }
  .blog__card {
    @apply mb-[50px] flex flex-col;
  }
  .blog__card-image {
    @apply mb-6 rounded-[20px];
  }
  .blog__card-info-wrapper {
    @apply mb-4 flex items-center rounded-[20px];
  }
  .blog__card-info-branch {
    @apply flex items-center justify-center rounded-[60px] bg-darkGrey py-2 px-4 text-[12px]   uppercase leading-[14px];
  }
  .blog__card-info-time {
    @apply ml-3 text-[12px]   leading-[14px]  text-middleGrey;
  }
  .blog__card-title {
    @apply min-h-[90px] overflow-hidden text-ellipsis text-[18px] font-bold  leading-[22px];
  }
  .blog__who-wrapper {
    @apply pt-[30px] pb-10;
  }
  .blog__who-label {
    @apply mb-5 text-sm font-bold uppercase text-middleGrey;
  }
  .blog__who-text {
    @apply text-xl   text-white;
  }
  /* -----------blog__who-cards------- */
  .blog__who-card-list {
    @apply text-xl   text-white;
  }
  .blog__who-card-item {
    @apply py-[30px];
  }
  .blog__who-card-item-label {
    @apply mb-4 text-base font-bold;
  }
  .blog__who-card-item-text {
    @apply text-sm;
  }
  /*=============== FAQ ============= */

  .faq__wrapper {
    @apply pt-10 pb-20;
  }
  .faq__list {
    @apply pt-[30px];
  }
  .faq__item {
    @apply flex flex-col;
  }

  .faq__question-wrapper {
    @apply flex items-center py-5;
  }
  .faq__question {
    @apply text-base font-semibold;
  }
  .faq__question--active {
    @apply text-main;
  }
  .faq__question-button {
    @apply ml-5 h-6 w-6 bg-[url('../images/faq/plus.svg')] bg-center bg-no-repeat;
  }
  .faq__question-button--active {
    @apply bg-[url('../images/faq/minus.svg')];
  }
  .faq__answer {
    @apply h-0 overflow-hidden text-sm;
  }
  .faq__answer--active {
    @apply h-auto pb-5;
  }
  /*=============== FORM ============= */

  .form {
    background-color: theme("backgroundColor.dark");
    padding-top: theme(padding.8);
    padding-bottom: theme(padding.14);
    color: theme("textColor.middleGrey");
  }

  .form__inputGroup {
    @apply relative mb-3 max-w-[320px];
  }

  .form__inputGroup input {
    @apply w-full rounded-[20px] border-[1px] border-middleGrey bg-transparent px-3 py-2 outline-none;
  }

  .form__inputGroup label {
    @apply absolute left-2 top-1/2 ml-2 -translate-y-1/2 py-1 text-sm   leading-4  transition-all;
  }

  .form__inputGroup :is(input:focus, input:valid) ~ label {
    @apply top-0 left-5 m-0 bg-dark px-1 text-[12px];
  }

  .form__inputGroup :is(input:focus) {
    @apply border-[1px] border-lightGrey;
  }
  .form__attach-button {
    @apply mb-6 flex items-center bg-transparent text-sm;
  }
  .form__attach-icon {
    @apply inline-block h-10 w-10 rounded-full bg-darkGrey bg-clip bg-[length:20px_20px] bg-center bg-no-repeat;
  }
  .form__details {
    @apply text-[12px];
  }
  .form__details-link {
    @apply text-link decoration-solid;
  }
  .form__contact-address {
    @apply mb-5 text-[12px] leading-6 text-white;
  }
  .form__contact-email {
    @apply mb-1 text-xl font-semibold leading-5 text-white;
  }
  .form__contact-text {
    @apply text-[12px] leading-6;
  }

  /*=============== FOOTER ============= */

  .footer__wrapper {
    @apply pt-11 pb-4;
  }
  .footer__nav-wrapper {
    @apply mb-10 flex smOnly:flex-col;
  }
  .footer__nav-list {
    @apply mb-14 grid grid-flow-col grid-rows-3 gap-[30px] uppercase;
  }
  .social {
    @apply flex justify-around;
  }
  .footer__services-list {
    @apply mb-5 flex pt-5 pb-8 smOnly:flex-col;
  }
  .footer__services-item:not(:last-child) {
    @apply smOnly:mb-5;
  }
  .footer__services-link {
    @apply text-sm uppercase leading-4;
  }
  .footer__terms {
    @apply text-center text-[12px] leading-6 text-middleGrey;
  }
  .footer__terms-policy {
    @apply ml-5;
  }
}

@layer utilities {
  /* .border-grey {
    @apply border-[1px] border-middleGrey;
  } */
  .pre-heading {
    @apply mb-7 text-[12px] font-bold uppercase leading-4 tracking-wider text-middleGrey;
  }
  .mrg-t-sm {
    @apply mt-[30px];
  }
  .mrg-t-md {
    @apply mt-[50px];
  }
  .mrg-b-sm {
    @apply mb-[30px];
  }
  .mrg-b-md {
    @apply mb-[60px];
  }
  .top-border {
    @apply border-t-[1px] border-t-middleGrey;
  }
  .bottom-border {
    @apply border-b-[1px] border-b-middleGrey;
  }
  .auto-height {
    @apply h-auto;
  }
  /* =========== GRADIENT ============ */
  .red-gradient {
    @apply relative overflow-hidden from-gradientMain to-transparent before:absolute before:right-[-105px] 
    before:top-[135px] before:h-[215px] before:w-[215px] before:bg-gradient-radial before:blur-2xl before:content-[''];
  }
}
